{% extends "base.html" %}
{% block title %}This page does not yet exist.{% endblock %}
{% block content %}
    <p class="errormsg">{{ message or self.title() }}</p>
    {% if session.user_id %}
        {% if show_create_new %}
            <bootstrap-panel title="Create a new document here">
                <create-item
                        item-type="document"
                        full-path="{{ new_item }}"
                        force="true"
                        {% if forced_template %}
                        template="{{ forced_template }}">
                        {% endif %}
                </create-item>
            </bootstrap-panel>
{#
            <bootstrap-panel title="Create a new folder here">
                <create-item item-type="folder" full-path="{{ new_item }}"></create-item>
            </bootstrap-panel>
#}
        {% else %}
            You cannot create documents or folders here.
        {% endif %}
    {% else %}
        To create a new document or a folder, log in.
    {% endif %}
    {% if found_item %}
        <a href="/view/{{ found_item.path }}">To the first existing item ({{ found_item.title }}) in your search.</a>
    {% else %}
        <a href="{{ url_for('view_page.index_page') }}">To the index.</a>
    {% endif %}
{% endblock %}
