{% extends "document.html" %}
{% block title %}Lecture info{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        var lecture = {{lecture|tojson}};
        var inLecture = {{in_lecture|tojson}};
    </script>

{% endblock %}
{% block content %}
<tim-lecture-info></tim-lecture-info>
{% endblock %}
