<tim-dialog>
    <dialog-header>
        Get all answers
    </dialog-header>
    <dialog-body>
        <form name="allAnswersFrom" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Period</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="whenever">
                            Whenever
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="sincelast">
                            Since last answer fetch ({{ $ctrl.lastFetch | timdate }})
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="day">
                            Past day
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="week">
                            Past week
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="month">
                            Past month
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="other">
                            Other...
                        </label>
                        <div ng-show="$ctrl.options.period === 'other'">
                            <div class="input-group date" datetimepicker ng-model="$ctrl.options.periodFrom"
                                 options="$ctrl.datePickerOptionsFrom">
                                <input type="text" class="form-control"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                            to
                            <div class="input-group date" datetimepicker ng-model="$ctrl.options.periodTo"
                                 options="$ctrl.datePickerOptionsTo">
                                <input type="text" class="form-control"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Validity</label>
                </div>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" ng-model="$ctrl.options.valid" value="1"> Valid
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="$ctrl.options.valid" value="0"> Invalid
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="$ctrl.options.valid" value="all"> All
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Names</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.name" value="both">
                            Username and full name
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.name" value="username">
                            Username only
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.name" value="anonymous">
                            Anonymous username
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline"> Scope </label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.scope" value="task">
                            Only this task
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.scope" value="test">
                            The whole test
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline"> Answers from </label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.answers" value="all">
                            All users
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.answers" value="visible">
                            Only visible users
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.answers" value="selected">
                            Only selected user
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline"> Delimiter </label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.format" value="semicolon">
                            Semicolon (;)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.format" value="tab">
                            Tab
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.format" value="bar">
                            Vertical bar (|)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.format" value="comma">
                            Comma (,)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline"> Decimal </label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.decimal" value="point">
                            Decimal point (.)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.decimal" value="comma">
                            Decimal comma (,)
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </dialog-body>
        <dialog-footer>
        <button class="timButton" type="button" ng-click="$ctrl.ok()">Get answers
        </button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </dialog-footer>
</tim-dialog>