<tim-dialog>
    <dialog-header>
        Name area
    </dialog-header>
    <dialog-body>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="areaname" class="col-sm-3 control-label">Area name:</label>
                <div class="col-sm-9">
                    <input id="areaname"
                           ng-keyup="$event.keyCode == 13 && $ctrl.addArea()"
                           class="form-control"
                           type="text"
                           ng-model="$ctrl.areaName"
                           title="No spaces allowed"
                           focus-me="true"
                           no-period/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.options.collapsible"> Collapsible
                        </label>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.options.collapsible" class="form-group">
                <label for="areatitle" class="col-sm-3 control-label">Area title:</label>
                <div class="col-sm-9">
                    <input id="areatitle" type="text" class="form-control" ng-model="$ctrl.options.title"
                           placeholder="Optional"/>
                </div>
            </div>
            <div ng-show="$ctrl.options.collapsible" class="form-group">
                <label for="hlevel" class="col-sm-3 control-label">Heading level:</label>
                <div class="col-sm-9">
                    <input id="hlevel" type="number" min="0" max="5" class="form-control"
                           ng-model="$ctrl.options.hlevel"
                           placeholder="Optional"/>
                </div>
            </div>
            <div ng-show="$ctrl.options.collapsible" class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.options.collapse"> Collapsed by default
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.options.timed"> Time restriction
                        </label>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.options.timed" class="form-group">
                <label for="starttime" class="col-sm-3 control-label">Available from:</label>
                <div class="col-sm-9">
                    <div class="input-group date" datetimepicker ng-model="$ctrl.options.starttime"
                         data-options="datePickerOptions">
                        <input type="text"
                               class="form-control"
                               id="starttime"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.options.timed" class="form-group">
                <label for="endtime" class="col-sm-3 control-label">Available until:</label>
                <div class="col-sm-9">
                    <div class="input-group date" datetimepicker ng-model="$ctrl.options.endtime"
                         data-options="datePickerOptions">
                        <input type="text"
                               class="form-control"
                               id="endtime"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.options.timed" class="form-group">
                <label for="alttext" class="col-sm-3 control-label">Text when inaccessible:</label>
                <div class="col-sm-9">
                <textarea id="alttext" rows="3" class="form-control" ng-model="$ctrl.options.alttext">
                </textarea>
                </div>
            </div>
        </form>
    </dialog-body>
    <dialog-footer>
        <button class="timButton" ng-click="$ctrl.addArea()" ng-disabled="!$ctrl.areaName">Add
        </button>
        <button class="btn btn-default" ng-click="$ctrl.dismiss()">Cancel</button>
    </dialog-footer>
</tim-dialog>
