  <uib-tabset ng-show="$ctrl.proeditor" active="$ctrl.activeTab">
    <uib-tab ng-repeat="t in $ctrl.getVisibleTabs()" heading="{{ t.name }}" index="$ctrl.getTabIndex(t)">
        <tim-editor-entry ng-repeat="e in t.entries" data="e"></tim-editor-entry>
        <div ng-if="t.extra" ng-bind-html="t.extra"></div>
    </uib-tab>
    <uib-tab heading="Upload" index="'upload'" ng-show="$ctrl.getOptions().showImageUpload">
        <span>
            Upload image/file:
            <input ng-paste="$ctrl.onPaste($event)" id="pasteInput"
                   placeholder='paste image' size="9" style="font-size: 0.7em;" ng-show="$ctrl.isACE" />
                   <!--ngf-drop="$ctrl.onDrop($event)"  ng-dragover="$ctrl.allowDrop($event)" -->
                   <!-- ondragover="$ctrl.allowDrop($event)" ondrop="$ctrl.onDrop($event)" -->
            <input type="file" ngf-select="$ctrl.onFileSelect($file)">
            <span ng-show="$ctrl.file.progress >= 0 && !$ctrl.file.error"
                  ng-bind="$ctrl.file.progress < 100 ? 'Uploading... ' + $ctrl.file.progress + '%' : 'Done!'"></span>
            <a ng-href="{{$ctrl.uploadedFile}}" >{{$ctrl.uploadedFile}}</a>
        </span>
        <div class="error" ng-show="$ctrl.file.error" ng-bind="$ctrl.file.error"></div>
        <span>
        </span>
        <tim-editor-entry ng-repeat="e in $ctrl.getUploadTab().entries" data="e"></tim-editor-entry>
    </uib-tab>
    <uib-tab heading="Help" index="'help'">
        <a class="helpButton margin-4" href="https://tim.jyu.fi/view/tim/TIM-ohjeet" target="_blank"
                title="General TIM Help">TIM
            Help</a>
            <span class="margin-4">To cite this paragraph:</span>
            <input readonly
                   class="form-control"
                   type="text"
                   ng-model="$ctrl.citeText"
                   title="Copy this line to cite this paragraph"
                   ng-focus="$ctrl.selectAllText($event)"/>
            <a href="https://tim.jyu.fi/view/tim/TIM-ohjeet#viitteen-katsominen" target="_blank"
               title="Help for references"><i class="helpButton glyphicon glyphicon-question-sign"></i></a>
    </uib-tab>
  </uib-tabset>
    <div class="editorContainer">
    </div>
    <div class="editButtonArea">
        <span ng-show="$ctrl.proeditor">
        <button class="timButton" title="Change editor between Ace and normal textarea" ng-click="$ctrl.changeEditor()">Editor</button>
        <button class="timButton" ng-show="$ctrl.fullscreenSupported()" ng-click="$ctrl.goFullScreen()">Fullscreen</button>
        </span>
        <button class="timButton" ng-disabled="$ctrl.saving" title="Save (Ctrl-S)" ng-click="$ctrl.saveClicked()">Save</button>
        <button class="timButton" ng-disabled="$ctrl.saving" ng-click="$ctrl.cancelClicked()">Cancel</button>
        <button class="timButton" ng-disabled="$ctrl.saving" ng-show="$ctrl.showUnread()" ng-click="$ctrl.unreadClicked()">Mark as unread</button>
        <span ng-show="$ctrl.proeditor">
        <button class="btn btn-danger" ng-disabled="$ctrl.saving" ng-show="$ctrl.getOptions().showDelete" ng-click="$ctrl.deleteClicked()">Delete</button>
        </span>
    </div>
    <div class="choices">
        <div ng-repeat="choice in $ctrl.getOptions().choices">
            {{ choice.desc }}
            <label ng-repeat="opt in choice.opts">
                <input type="radio" ng-model="$ctrl.getExtraData()[choice.name]" ng-value="opt.value"/> {{ opt.desc }}&nbsp;
            </label>
        </div>
    </div>
    <div class="inline-flex">
        <label class="font-weight-normal margin-5-right"><input type="checkbox" ng-model="$ctrl.proeditor"/> Advanced view</label>
        <label class="font-weight-normal margin-5-right" ng-show="$ctrl.aceEnabled()"><input type="checkbox" ng-model="$ctrl.autocomplete"/> Autocomplete</label>
        <label class="font-weight-normal margin-5-right" ng-repeat="tag in $ctrl.getOptions().tags">
            <input type="checkbox" ng-model="$ctrl.getExtraData().tags[tag.name]"/> {{ tag.desc }}
        </label>
    </div>
    <label class="pull-right font-weight-normal" title="Put 0 to no wrap" ng-click="$ctrl.editor.forceWrap(true)">Wrap:
        <input type="text" ng-pattern="/[-0-9]*/" ng-model="$ctrl.wrap.n" size="2"/>
    </label>
    <div ng-if="$ctrl.trdiff"
         tim-draggable-fixed
         detachable="true"
         caption="Difference in original document"
         save="{{$ctrl.getOptions().localSaveTag}}Trdiff"
         resize="true">
        <div class="diff border">
            <pre diff left-obj="$ctrl.trdiff.old" right-obj="$ctrl.trdiff.new"></pre>
            <a href="{{ $ctrl.getSourceDocumentLink() }}"><i class="glyphicon glyphicon-link"></i></a>
        </div>
    </div>
    <div tim-draggable-fixed
         detachable="true"
         caption="{{ $ctrl.getPreviewCaption() }}"
         save="{{$ctrl.getOptions().localSaveTag}}Preview"
         resize="true"
         class="previewDiv"
         ng-show="$ctrl.proeditor">
        <div class="previewcontent paragraphs"></div>
    </div>
