<div class="refPopup">
    <span ng-show="!$ctrl.loaded">
        Loading...
    </span>

    <span ng-show="$ctrl.error">
        <label>ERROR:</label> {{ $ctrl.error }}
    </span>

    <span ng-show="$ctrl.docAuthor">
        <label>Author:</label> {{ $ctrl.docAuthor }}
    </span>

    <span ng-show="$ctrl.docName">
        <label>Document:</label> {{ $ctrl.docName }}
    </span>

    <span ng-show="$ctrl.parName">
        <label>Paragraph:</label> {{ $ctrl.parName }}
    </span>
</div>
